node_modules/*
node_modules
.DS_Store
docs/_book
settings_local.py
*.pyc
__pycache__/
__pycache__/*
__pycache__/*.pyc
migrations/
migrations/*
migrations/*.pyc
apps/pages/migrations/*
apps/pages/migrations/
apps/auth_api/migrations/*
apps/auth_api/migrations/
.idea/
backend/media/
npm-debug.log*


