<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>ITSphere</title>
    <script>
      jsonCallback=function(input){
        alert(JSON.stringify(input))
      }
      callback=function(input){
              alert(JSON.stringify(input))
            }
    </script>
    {% load render_bundle from webpack_loader %}
</head>
<body>
<div id="app">
<router-view>
ITSphere …
</router-view>
<div>
<!--ЗАПРОС-->
{%if sql_queries and False %}
  <div class="footNav">
    <h2>Queries</h2>
    <p>
      {{ sql_queries|length }} Quer{{ sql_queries|pluralize:"y,ies" }}, {{sql_time_sum}} Time
    {% ifnotequal sql_queries|length 0 %}
      (<span style="cursor: pointer;" onclick="var s=document.getElementById('debugQueryTable').style;s.disp\
lay=s.display=='none'?'':'none';this.innerHTML=this.innerHTML=='Show'?'Hide':'Show';">Show</span>)
    {% endifnotequal %}
    </p>
    <table id="debugQueryTable" >
      <col width="1"></col>
      <col></col>
      <col width="1"></col>
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">SQL</th>
          <th scope="col">Time</th>
        </tr>
      </thead>
      <tbody>
        {% for query in sql_queries %}
          <tr class="">
            <td>{{ forloop.counter }}</td>
            <td>{{ query.sql|escape }}</td>
            <td>{{ query.time }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endif %}
</div>
</div>

<div style="position: absolute;bottom: 0;right: 0">

</div>
<!--Тут приходят данные с сервера при первом посещении и загрузке страницы, дальше люди к страницам не обращаются через Django views-->

<script>
{% if data %}
try{
    django_data={{data|safe}};
}
catch(err){
    django_data={}
    console.log('could not initialize data , response from server on first load:',err)
}
{%else%}
django_data=null;
{%endif%}
</script>

{% render_bundle 'main' %}
</body>
</html>
